{% load static %}
   
<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Projecx</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">

   <!-- Add additional CSS in static file -->
   {% load static %}
   <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}">
   <!-- fevicon -->
   <link rel="icon" href="{% static 'home/img/fevicon.png'%}" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{% static 'home/css/jquery.mCustomScrollbar.min.css' %}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="{% static 'home/css/meanmenu.css' %}"/>
   <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}"/>
   <link rel="stylesheet" href="{% static 'home/css/slick.css' %}"/>
   <link rel="stylesheet" href="{% static 'home/css/jquery-ui.css' %}"/>
   <link rel="stylesheet" href="{% static 'home/css/animate.min.css' %}"/>
   <link rel="stylesheet" href="{% static 'home/css/normalize.css' %}"/>
   <link rel="stylesheet" href="{% static 'home/css/icomoon.css' %}">
   <link rel="stylesheet" href="{% static 'home/css/nice-select.css' %}">
   <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}">
   <link rel="stylesheet" href="{% static 'home/css/jquery.fancybox.min.css' %}"/>
</head>
<!-- body -->

<body class="main-layout">
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader"><img src="{% static 'home/img/loading.gif'%}" alt="#" /></div>
   </div>
   <!-- end loader -->
   <!-- header -->
   <header>
      <!-- header inner -->
      <div class="header">
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                           <a href="index.html"><img src="{% static 'home/img/logo.png'%}" alt="#" /></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <div class="right_bottun">
                     <a class="login" href="#">Login</a>
                     <a class="login" href="contact.html">Contact</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- end header inner -->
   <!-- end header -->
   <!-- banner -->
   <section class="banner_main">
      <div id="banner1" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
            <li data-target="#banner1" data-slide-to="0" class="active"></li>
            <li data-target="#banner1" data-slide-to="1"></li>
         </ol>
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container">
                  <div class="carousel-caption">
                     <div class="text-bg">
                        <h1>skating<span class="midil_img"> board</span></h1>
                        <figure><img src="{% static 'home/img/ima.png'%}" alt="#" /></figure>
                        <br>
                        <a class="read_more" href="#">Read More</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="carousel-caption">
                     <div class="text-bg">
                        <h1>skating<span class="midil_img"> board</span></h1>
                        <figure><img src="{% static 'home/img/ima.png'%}" alt="#" /></figure>
                        <br>
                        <a class="read_more" href="#">Read More</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="carousel-caption">
                     <div class="text-bg">
                        <h1>skating<span class="midil_img"> board</span></h1>
                        <figure><img src="{% static 'home/img/ima.png'%}" alt="#" /></figure>
                        <p>It is a long established fact that a reader will be <br> distracted by the readable content
                           of a page when<br> looking at its </p>
                        <a class="read_more" href="#">Read More</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="carousel-caption">
                     <div class="text-bg">
                        <h1>skating<span class="midil_img"> board</span></h1>
                        <figure><img src="{% static 'home/img/ima.png'%}" alt="#" /></figure>
                        <p>It is a long established fact that a reader will be <br> distracted by the readable content
                           of a page when<br> looking at its </p>
                        <a class="read_more" href="#">Read More</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
         </a>
         <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
         </a>
      </div>
   </section>
   <!-- end banner -->
   <!-- about section -->
   <div id="about" class="about afbecros">
      <div class="container">
         <div class="row ">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>About</h2>
                  <figure><img src="{% static 'home/img/about_img.png'%}" alt="#" /></figure>
                  <p> It is a long established fact that a reader will be distracted by the readable content of a page
                     when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                     distribution of letters, as opposed to using 'Content here, content here', making it It is a long
                     established fact that a reader will be distracted by the readable content of a page when
                     lookingusing Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                     to using 'Content here, content here', making it </p>
                  <a class="read_more" href="#">Read More</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- about section -->
   <!-- contact section -->
   <div id="contact" class="contact afbecros">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Contact Us</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-10 offset-md-1">
               <form id="request" class="main_form">
                  <div class="row">
                     <div class="col-md-12 ">
                        <input class="contactus" placeholder="Name" type="type" name="Name">
                     </div>
                     <div class="col-md-12">
                        <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">
                     </div>
                     <div class="col-md-12">
                        <input class="contactus" placeholder="Email" type="type" name="Email">
                     </div>
                     <div class="col-md-12">
                        <input class="contactusmess" placeholder="Message" type="type" Message="Name">
                     </div>
                     <div class="col-md-12">
                        <button class="send_btn">Send</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <!-- end contact section -->
   <!--  footer -->
   <footer>
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-8 offset-md-2">
                  <div class="fid_box">
                     <ul class="location_icon">
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br> Location</li>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a><br>+01 1234567890
                        </li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a><br> demo@gmail.com</li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="dolor">
                     <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <p>© 2022 All Rights Reserved. Design by<a href="https://html.design/"> Mini Prroject Team</a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- end footer -->
   <!-- Javascript files-->
   <script src="{% static 'home/js/jquery.min.js'%}"></script>
   <script src="{% static 'home/js/popper.min.js'%}"></script>
   <script src="{% static 'home/js/bootstrap.bundle.min.js'%}"></script>
   <script src="{% static 'home/js/jquery-3.0.0.min.js'%}"></script>
   <!-- sidebar -->
   <script src="{% static 'home/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
   <script src="{% static 'home/js/custom.js'%}"></script>
   <script>
      function openNav() {
         document.getElementById("mySidepanel").style.width = "250px";
      }

      function closeNav() {
         document.getElementById("mySidepanel").style.width = "0";
      }
   </script>
</body>

</html>